@page
@model IndexModel
@*Written by: Paul Smyth. Date 31/1/18. Version 1.0*@
@{
    ViewData["Title"] = "Home";
}
<html>
<body>
    <h1>The Customer Database</h1>
    <h4>Click Customer List option to view records</h4>
</body>
</html>


